body{
    margin: 0;
    background-color: rgb(236, 227, 227);
}

/* .image{
    height: 750px;
    width: 100%;
    border: 1px solid black; 
    background-image: url('images/calculator.png');
    display: block;
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position-x: center;
} */
.card{
    margin-left: 36%;
    margin-top: 2%;
    align-content: center;
    height: 660px;
    width: 25%;
    border-color: transparent;
    background-color: white;
    border-radius: 30px;
    box-shadow: 15px 15px 50px;
}
.darkcard{
    background-color: black;
}
.shape{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    margin-left: 2%;
    margin-top: 2%;
    font-size: 41px;
    border-color: transparent;
    text-align: center;
}
.shape:hover{
    opacity: 60%;
}
.zero{
    width: 174px;
    height: 80px;
    border-radius: 60px;
    margin-left: 2%;
    margin-top: 2%;
    font-size: 41px;
    border-color: transparent;
}
.zero:hover{
    opacity: 60%;
}
.textbox{
    height: 150px;
    border-color: transparent;
    font-size: 70px;
    text-align: right;
    width: 97%;
    border-radius: 31px;
}
.darktextbox{
    background-color: black;
    color: white;
}
.margin{
    margin-top: 3%;
}
.blue{
    background-color: cornflowerblue;
}
.orange{
    background-color: rgb(255, 166, 2);
    color: white;
}
.light{
    background-color: turquoise;
}
.dark{
    background-color: rgb(179, 175, 175);
    color: black;
}
.left{
    margin-left: 1.5%;
}
.bgcolor{
    background-color: grey;
}
.common{
    background-color: rgb(46, 45, 45);
    color: white;
}

.moon{
    color: black;
    height: 40px;
    width: 15%;
    background-color: transparent;
    border-color: transparent;
}
.sun{
    color: rgb(197, 197, 13);
}